@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

html,body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;

}
#header-img{
    margin: 0;
    padding: 0;
    display: inline;
}
img{
    max-width:25%
}
#nav-bar{
    width: 35vw;
    float: right;
    display: flex;
    justify-content: space-around; 
    
}
nav-link
{
    margin-top: 20px;
    font-size: 20px;
}
.main{
    text-align: center;
}

#email{
    width:300px;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    margin-top: -10px;
}
#p{
    font-size: 28px;
    font-weight: bold;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;

  }
  
[type="submit"]
{
    margin:20px;
    padding: 5px;
    width:150px;
    height: 30px;
    background-color: #f1c40f;
    border:none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    
}
[type="submit"] :hover{
    background-color: orange;

}
.grid {
    display: flex;
  }
/* #p1{
    font-size: 18px;
}
.desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
.icon{
    display: flex;
  
    justify-content: space-around;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
#feature{
    margin-top: 15px;
} */
#features {
    margin-top: 30px;
}
    .icon {
     
      align-items: center;
      justify-content: center;
      height: 125px;
      width: 20vw;
      color: darkorange;
    }
  
  
    .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 125px;
      width: 80vw;  
      
    }
    
   